# Игнорировать все файлы с расширением .log
*.log

# Игнорировать папку node_modules
node_modules/

# Игнорировать директорию с собранными файлами
dist/

# Игнорировать конфигурационные файлы среды разработки
.idea/
.vscode/

# Игнорировать файлы среды разработки macOS
.DS_Store

# Игнорировать любые файлы .env.production
.env

config_dev.json
/src/cache/cache.json
build/
discord-monitoring-bot.zip
